{% extends 'base.html' %}

{%block metainfo%}
<title>Cadastro</title>
<link rel="stylesheet" href="/static/css/cadastro.css">
{%endblock%}

{%block conteudo%}
<div id="cadastrodiv">
	<form method="post">

		<label for="nome">Nome</label>
		<input type="text" id="nome" name="nome" required autofocus>
		
		<label for="email">Email</label>
		<input type="email" id="email" name="email" required>
	
		<label for="senha">Senha</label>
		<input type="password" id="senha" name="senha" required>
	
		<label for="csenha">Confirme sua senha</label>
		<input type="password" id="csenha" required><br>
	
		<button type="submit">Enviar</button>
		<button type="reset">Limpar</button>
	
	</form>
</div>
{%endblock%}