{%extends 'base.html'%}

{%block metainfo%}
<title>Login</title>
<link rel="stylesheet" href="/static/css/login.css">
{%endblock%}


{%block conteudo%}
<div id="loginform">
    <form method="POST">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required autofocus>
    
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required><br>
    
        <button type="submit">Login</button>
    </form>
</div>
{%endblock%}